<div class="row studious-container" style="margin-left: 10px;">
        <div class="col col-3 classes-leftPadding">
            <div class="card">
                <div class="card-header">
                    <h4>Intro to C++</h4>
                </div>
                <div class="card-body">
                    <p>some sort of minimal description</p>
                </div>
                <div class="card-footer">
                    <button class="button secondary outline">Delete</button>
                    <button class="button secondary outline">View</button>
                </div>
            </div>
        </div>
        <div class="classes-borderDivider">
        
        </div>
        <div class="col col-8 classes-rightPadding">
            <h3>tbd</h3>
        </div>
    </div>