.studious-container {
    margin: 10px
}

.studious-tabContainer {
    margin: 10px 0.5px 0px 0.5px;
}

.card {
    border-bottom: 1px solid;
    padding: 25px 25px 20px 25px;
}

.inner-page {
    padding: 25px;
    margin: 25px;
    border-bottom: 1px solid;
}

.inner-page-classColor {
    padding: 0px 8px 0px 8px;
    margin: 0px;
    border: 1px solid;
}

.card-classColor {
    padding: 8px;
    margin: 0px;
    border: 1px solid;
    float: right;
}